<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Image Search</title>
		<meta name="description" content="my image search engine" />
		<meta name="keywords" content="image search" />
		<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />

        <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
        <!--Dropify stuff -->
        <link rel="stylesheet" href="../static/assets/css/dropify.css">
        <link rel="stylesheet" href="../static/assets/css/dropify.min.css">
        <script src="../static/assets/js/dropify.min.js"></script>
        <script src="../static/assets/js/dropify.js"></script>

        <script>
         $(document).ready(function() {
          $('.dropify').dropify();
          });

     function check()
                {
                    var nn = $('input[type="file"]').val()
                    //var uu = document.getElementById("input-file-now");
                    console.log(nn)
                    //if(uu =='' && uu.value== "")
                    if(nn =='')
                    {
                        alert('You must upload an image! :)');
                        return false;
                    }
                }
        </script>
	</head>
	<body>
		<div class="container">
                        <header>
				<h1>Image Search<span>Drop an image and search for similar images</span></h1>	
			</header>
		</div>

                <div>
                   <form action="#" method="POST" enctype="multipart/form-data" onSubmit="return check()">
                      <p><input type="file" id="input-file-now" class="dropify" data-height="350" data-max-file-size="1G" data-allowed-file--extensions="png jpg jpeg" name="file[]" /></p>
                      <br>
                      <p><input type="submit" value="Submit" /></p>
                   </form>
                </div>

	</body>
</html>
